[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/namansl
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/namansl
	label-Verified = -1..+1 group user/namansl
	push = group user/namansl
	read = group user/namansl
	rebase = group user/namansl
	removeReviewer = group user/namansl
	submit = group user/namansl
[access "refs/heads/*"]
	create = group user/namansl
	push = +force group user/namansl
	pushMerge = group user/namansl
	read = group user/namansl
[access "refs/tags/*"]
	push = group user/namansl
	push = +force group user/namansl
